*{
    /*border: 1px black dashed;*/
}
h2{
    font-size: 200%;
}
p{
    font-size: 200%;
}
#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 50%;
}
form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 50%;
}
form > input[type=text]{
    width: 100%;
    height: 5vh;
}
form > p{
    margin: 0;
}
form > textarea{
    width: 100%;
    height: 10vh;
}
.content{
    display: flex;
    flex-direction: row;
    width: 75%;
    min-height: 40%;
    background-color: whitesmoke;
    border: whitesmoke solid 3vh;
    border-radius: 3vh;
}
.content > div{
    width: 50%;
    min-height: 100%;
}
.example-img{
    margin: 10%;
    width: 100%;
    height: auto;
}