* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    scroll-behavior: smooth;
}

.banner {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(34, 105, 1, 0.75), rgba(0, 0, 0, 0.75)), url(background2.jpg);
    background-size: cover;
    background-position: center;

}

.navbar {
    width: 100%;
    margin: auto;
    padding: 35px 400;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 120px;
    cursor: pointer;
    background-color: rgb(182, 254, 182);
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
    font-size: 20px;

}

.navbar ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-transform: uppercase;

}

.navbar ul li::after {
    content: "";
    height: 3px;
    width: 0%;
    background: rgb(142, 56, 2);
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;

}

.navbar ul li:hover::after {
    width: 100%;

}

.content {
    width: 100%;
    height: 100vh;
    text-align: center;
    color: #fff;
  
}

.content h1 {
    font-size: 70px;
    margin-top: 80px;

}

.content p {
    margin: 1% auto;
    font-weight: 100;
    line-height: 25px;
}

button {
    width: 200px;
    padding: 15px;
    text-align: center;
    margin: 20px 1px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px soldid #009688;
    background: transparent;
    color: rgb(0, 0, 0);
    cursor: pointer;
    background-color: lightgreen;
}

/* einde */

#onzeTuinen {
    background-color: white;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(34, 105, 1, 0.75));
    text-align: center;
    font-size: 40px;
    color: #fff;
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
}

#tuin2 {
    background-color: white;
    width: 100%;
    height: 100vh;
    text-align: center;
    font-size: 40px;
    color: #fff;
    background-image: linear-gradient(rgba(34, 105, 1, 0.75), rgba(0, 0, 0, 0.75));
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
}


#copyright {
    font-size: 11px;
    text-align: center;
    background-color: transparent;
}


#footer{
background-color: rgba(21, 65, 1, 0.75);;
height: 40vh;
width: 100%;
color: white;
}

#specialist{
    color: rgb(142, 56, 2);
    font-size: 30px;
   font-family:fantasy;
   top: 30px;
   display: inline-block;
}

#tekstSpecialist{
    font-size: 15px;
    top: 15px;
  
    display: inline-block;
}

#contact{
    color: rgb(142, 56, 2);
    font-size: 30px;
   font-family:fantasy;
   bottom: 85px;

   display: block;
}


#contactTekst{
    font-size: 15px;
   bottom: 85px;
   display: inline-block;
}

.product9 {
    height: 400px;
    width: 420px;
    background-color: white;
    margin-top: 80px;
    margin-left: 180px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 5), 0 20px 60px 0 rgba(0, 0, 0, 0.19);
    border: solid black 1px;
    transition: 0.3s;
color: black;
}
.product9:hover {
    height: 450px;
    width: 470px;
    background-color: rgb(0, 101, 10);
    margin-top: 80px;
    margin-left: 180px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 5), 0 20px 60px 0 rgba(0, 0, 0, 0.19);
    border: solid black 1px;
    display: inline-block;
    transition: 0.3s;
}


#contactblok{
    display: inline-block;
    margin-left: 900px;
    margin-top: -100px;
    vertical-align: top;
}

#specialistblok{
    display: inline-block;
    margin-left: 40px;
}

#profielFoto{
position: relative;
left: 800px;
}

#profielFoto p{
    font-size: 15px;
    position: relative;
    right: 490px;
    bottom: 390px;
    text-align: left;
    border: 2px solid rgb(0, 41, 12);
    background-color: rgb(0, 98, 30);
}

.placeholder{
   width: 400px;
 height: 300px;
 margin: 40px;
}

#klantTitle{
    margin-left: 400px;
}

/* review 1 */

.reviewbox{
    background-color: white;
    width: 600px;
    height: 200px;
    box-shadow: black;
    color: black;
    position: relative;
}

.reviewbox img{
width: 150px;
float: right;
}

.reviewbox p{
    float: left;
    border: 1px solid black;
}

#reviewTekst{
    font-size: medium;
}

/* review 2 */

.reviewbox2{
    background-color: white;
    width: 600px;
    height: 200px;
    box-shadow: black;
    color: black;
    position: relative;
    top: 220px;
    left: 63px;
}

.reviewbox2 img{
    width: 150px;
    float: right;
    }
    
    .reviewbox2 p{
        float: left;
        border: 1px solid black;
    }
    
    #reviewTekst2{
        font-size: medium;
    }

/* review 3 */

.reviewbox3{
    background-color: white;
    width: 600px;
    height: 200px;
    box-shadow: black;
    color: black;
    position: relative;
    top: 200px;
}

.reviewbox3 img{
    width: 150px;
    float: right;
    }
    
    .reviewbox3 p{
        float: left;
        border: 1px solid black;
    }
    
    #reviewTekst3{
        font-size: medium;
    }

    #dienstenTitle{
     position: relative;
     left: 500px;
    }

    #tuinieren1{
        width: 500px;
        height: 400px;
        position: relative;
        left: 460px;
        top: 100px;
    }

    #tuinierenTekst{
        font-size: medium;
        width: 70%;
        height: 400px;
        position: relative;
        right: 178px;
        top: -300px;
    }

    #diensten2{
        height: 400px;
        width: 500px;
        margin-left: 50px;
    }

    #tuinierenTekst2{
        font-size: medium;
        width: 600px;
        height: 400px;
        position: relative;
      left: 60px;
    }

    .banner2 {
        width: 100%;
        height: 100vh;
        background-image: linear-gradient(rgba(34, 105, 1, 0.75), rgba(0, 0, 0, 0.75)), url(backgrou.jpg);
        background-size: cover;
        background-position: center;
    
    }


    #welkom{
        max-width: 900px;
    
        font-family:serif;

    }


    @media(max-width: 767px){
        #welkom{
          font-size: 0;
          background-color: transparent;
          border: none;
        }
      }

      @media(max-width: 400px){
        .content h1{
          font-size: 40px;
        }
      }






/*all footer styles*/
#footer-top{
    display: flex;
    align-items: start;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    width: 100%;
    min-height: 20%;
    height: 210px;
    background: rgb(81, 164, 81);
}

#footer-top > div{
    min-width: 25%;
}

.h2-white{
    color: white;
}

/*everything under the white class will be white*/
.white > *{
    color: white;
    text-decoration: none;
}

/*list in de footer gets margin*/
.white > li{
    margin: 3%;
}

#footer-bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #7bba7b;
}

#footer-bottom > p{
    font-size: 1em;
}
@media screen and (max-width: 1080px) {
    #navigation > a{
        font-size: 1.2em;
    }
}
@media screen and (max-width: 920px) {
    #footer-top{
        flex-wrap: wrap;
        flex-direction: column-reverse;
        justify-content: center;
    }
    #navigation > a{
        font-size: 2rem;
        text-align: center;
        margin: 5vh;
        border: 1vw solid black;
        width: 80%;
    }
    #navigation{
        background-color: white;
        position: absolute;
        top: 0;
        flex-wrap: nowrap;
        width: 100%;
        display: none;
        flex-direction: column;
        justify-content: start;
        align-items: center;
    }
    .checkbtn{
        position: relative;
        z-index: 1;
        display: block;
        color: forestgreen;
        font-size: 2rem;
    }
    #check:checked ~ #navigation{
        display: flex;
    }
}






