*{
    /*border: 1px black dashed;*/
}
h2{
    font-size: 200%;
}
p{
    font-size: 1.2em;
}
#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 50%;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;

}
.content{
    display: flex;
    flex-direction: row;
    width: 75%;
    min-height: 40%;

}
.content > div{
    width: 50%;
    min-height: 100%;
}
.example-img{
    margin: 10%;
    width: 100%;
    height: auto;
}






body{
    margin: 0;
    background-image: linear-gradient(white, rgb(190, 255, 190));
}
h1{
    color: white;
    font-size: 500%;
}
/*Logo style,
 give this class to something and the div inside it will have the logo background*/
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
    height: 100%;
}
.logo > div{
    width: 90%;
    height: 90%;
    background-image: url("../images/plant.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

/*all header styles*/
header{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 30%;
}

#header-top{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 20%;
}
#navigation{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    min-width: 60%;
    height: 100%;
}
#navigation > a{
    font-size: 150%;
    color: forestgreen;
    text-shadow: gray 1px 1px 20px;
}
#navigation > a:hover{
    color: darkseagreen;
}

#header-bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../images/home_garden.png");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 80%;
}

/*all footer styles*/
#footer-top{
    display: flex;
    align-items: start;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    width: 100%;
    min-height: 20%;
    background: darkseagreen;
}

#footer-top > div{
    min-width: 25%;
}

.h2-white{
    color: white;
}

/*everything under the white class will be white*/
.white > *{
    color: white;
    text-decoration: none;
}

/*list in de footer gets margin*/
.white > li{
    margin: 3vh;
}

#footer-bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #7bba7b;
}

#footer-bottom > p{
    font-size: 1em;
}
@media screen and (max-width: 1250px) {
    #navigation > a{
        font-size: 1.2em;
    }
}
@media screen and (max-width: 1030px) {
    #navigation > a{
        font-size: 2rem;
        text-align: center;
        text-justify: auto;
        background-color: whitesmoke;
        border: 1vw solid snow;
        line-height: 15vh;
        min-height: auto;
        width: 80%;
        height: 15%;
    }
    #navigation{
        background-color: white;
        position: fixed;
        top: 0;
        flex-wrap: nowrap;
        width: 100%;
        height: 100%;
        display: none;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .checkbtn{
        position: relative;
        z-index: 1;
        right: 1%;
        display: block;
        color: forestgreen;
        font-size: 2rem;
    }
    #check:checked ~ #navigation{
        display: flex;
    }
    #footer-top{
        flex-wrap: wrap;
        flex-direction: column-reverse;
        align-items: stretch;
        justify-content: center;
    }
    li > *{
        font-size: 0.7rem;
    }
    h1{
        font-size: 6rem;
    }
}

@media screen and (max-width: 700px) {
    .content {
        display: flex;
        flex-direction:column-reverse;
        width: 90%;
       
        
    }
}

@media screen and (max-width: 700px) {
    #tekst8{
        width: 	300px;
    }
}
    
    
