#header {
    background-color: #dad9dd;
    height: 30vh;
    width: 100%;
}

#text {
    margin-top: 7vh;
    margin-right: 3%;
    float: right;
}

#text h1, #text h6 {
    margin: 0;
}

#text h6 {
    float: right;
}

#container {
    width: 75%;
    margin: 0 auto;
}

#info {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.infot {
    font-size: 1rem;
}
